@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Moderustic", sans-serif;
}

.box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

#navbar{
    display: flex;
    align-items: center;
    max-width: 65vw;
    margin: auto;
    justify-content: space-between;
    /* padding: 10px 0px; */
    height: 86px;
}

#navbar span img{
    width: 120px;
    color: red;
    position: relative;
    z-index: 10;
}

#navbar div button{
    position: relative;
    z-index: 10;
    padding: 4px 10px;
    margin: 0px 5px;
    font-size: 15px;
    border-radius: 5px;
    font-family: "Moderustic", sans-serif;
}

.btn1{
    background-color: black;
    color: white;
    border: 1px solid white;
    font-family: "Moderustic", sans-serif;
}

.btn2  , #started{
    background-color: red;
    color: white;
    border: 1px solid white;
    font-family: "Moderustic", sans-serif;
}

.home{
    height: calc(100% - 86px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    color: white;
    padding: 0px 30px;
}

.home h1{
    font-size: 55px;
    margin: 10px 0px;
    text-align: center;
}

.starter span {
    font-size: 24px;
    margin: 20px 0px;
    display: block;
    text-align: center;
}

.starter div{
    text-align: center;
    margin: 35px 0px;
}

input[type="email"]{
    padding: 9px 24px;
    background: rgb(31, 30, 30);
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 7px;
    margin: 0px 10px;
    font-family: "Moderustic", sans-serif;
    width: 200px;
}

#started{
    padding: 6px 22px;
    font-size: 18px;
    border: 1px solid white;
    margin: 0px 10px;
    border-radius: 6px;
}

.seperation{
    width: 100%;
    height: 10px;
    background-color: rgb(31, 30, 30);
    position: relative;
    z-index: 11;
}

section.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
    max-width: 70vw;
    margin: auto;
    font-family: "Moderustic", sans-serif;
}

.sec-img{
    display: flex;
    position: relative;
}

.sec-img img{
    position: relative;
    z-index: 10;
    width: 555px;
}

.sec-img video{
    position: absolute;
    bottom: 91px;
    right: 33px;
}

.sec-div :first-child{
    font-size: 48px;
    font-weight: bolder;
    margin: 15px 0px;
}

.sec-div :last-child{
    font-size: 24px;
    line-height: 31px;
}

.faq{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.faq h1{
    text-align: center;
    font-size: 46px;
    margin: 36px 0px;
    font-family: "Moderustic", sans-serif;
}

.faq-div{
    display: flex;
    background: grey;
    max-width: 58vw;
    margin: 15px auto;
    width: 100%;
    padding: 24px;
    font-size: 20px;
    font-family: "Moderustic", sans-serif;
    background-color: #2d2d2d;
    cursor: pointer;
    transition: background-color 1s ease-in;
}

.faq-div:hover{
    background-color: #414141;
    color: white;
}

.faq-div .right{
    display: flex;
    justify-content: flex-end;
}

.faq-div .right svg{
    font-size: 18px;
}

.left , .right{
    font-weight: 500;
}

.left{
    width: 80%;
}

.right{
    width: 20%;
}

footer{
    color: white;
    width: 100%;
    max-width: 61vw;
    margin: 40px auto;
    font-family: "Moderustic", sans-serif
}

.footer{
    color: white;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

footer > h2{
    padding: 30px 0px;
    font-size: 25px;
}

.footer-box ul li{
    list-style: none;
    padding: 10px 0px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 100;
}


/* media queries  */

@media(max-width: 1350px){
    section.first{
        flex-direction: column;
        padding: 50px 10px;
        gap: 40px;
    }
}

@media(max-width: 1000px){
    footer{
        max-width: 80vw;
    }

    .home > h1{
        font-size: 36px;
    }

    .starter span{
        font-size: 20px;
    }

    input[type="email"]{
        padding: 9px 24px;
        margin: 20px 10px;
    }

    .starter div{
        display: flex;
        flex-direction: column;
        margin: 35px 0px;
        align-items: center;
    }

    #starter{
        width: fit-content;
    }
}

@media(max-width : 800px){
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    footer{
        max-width: 67vw;
    }
    #navbar{
        max-width: 90vw;
    }
}

@media(max-width: 600px){
    .sec-img{
        overflow: hidden;
    }
    .sec-img img{
        width: 320px;
    }

    .sec-img video{
        position: absolute;
        bottom: 51px;
        right: 14px;
        width: 270px;
    }

    .sec-div :first-child{
        font-size: 30px;
    }

    .sec-div :last-child{
        font-size: 18px;
    }

    .faq-div{
        max-width: 80vw;
        padding: 12px;
    }

    .faq h1{
        font-size: 30px;
    }

    .footer-box ul li {
        padding: 6px 0px;
    }

    footer{
        max-width: 80vw;
    }
}